<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>{{ config.title }}</title>
    
        <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='hallo.css') }}">

        {% if config.extra.theme %}
            <style>
                body {
                    color: {{ config.extra.theme.foreground }} !important;
                    background-color: {{ config.extra.theme.background }} !important;
                }

                a {
                    color: {{ config.extra.theme.foreground }} !important;
                }

                a:hover {
                    color: {{ config.extra.theme.hover }} !important;
                }
            </style>
        {% endif %}
    </head>
    <body>
        <main>
            <div class="column left">
                <img src="{{ get_url(path='images/logo.png') }}" class="portrait" alt="Portrait" />
                <div class="navbar" id="mainNav">
                        <ul class="navbar-nav">
                          {% for item in config.extra.menu %}
                          <li class="nav-item">
                            <a class="nav-link"
                              href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
                          </li>
                          {% endfor %}
                        </ul>
               </div>
            </div>
            <div class="column right">
                <div id="title">
                    <h1>Scribl</h1>
                </div>

                <div class="content_container">
                    {% block content %}
                    {% endblock content %}
                </div>
                
                {% if config.extra.links %}
                    <div class="links">
                        {% for link in config.extra.links %}
                            <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
                                {% if link.iconset %}
                                    <span class="{{ link.iconset }} {{ 'fa-' ~ link.icon }}"></span>
                                {% else %}
                                    <span class="fab {{ 'fa-' ~ link.icon }}"></span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </main>
    </body>
</html>
